# Package Files #
build/
bin/
src/bin/
nbproject/
.DS_Store
APDescription.txt
nbproject/project.properties
nbproject/private/private.properties

nbproject/private/private.properties

nbproject/private/private.properties

.DS_Store

src/.DS_Store

src/bin/.DS_Store

src/APDescription.txt

*.class

nbproject/project.properties

*.class
/src/src/sma/sma/